<?xml version="1.0" encoding="utf-8" ?>

<configuration>  
  <configSections>
    
    <!-- Nastavení logování. -->
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <!-- Konfigurace tabule. -->
    <section name="furnaceBoard"
             type="JanPichlCode.Configuration.FurnaceBoardSection, JanPichlCode"/>

  </configSections>

  <!-- ****************************   Konfigurace velké tabule   ****************************** -->

  <furnaceBoard checkIntervalInSeconds="1"
                maxUpDesiredTemperatureOffset="10"
                maxDownDesiredTemperatureOffset="10"
                downDesiredTemperatureLimit="660"/>

  <log4net debug="true">   
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>       
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy MM dd HH:mm:ss.fff} %-5p %c{1}:%L - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>      
    </appender>
  </log4net>
</configuration>